@import url(login.css);
@import url(signin.css);
@import url(perfil.css);
@import url(buscador.css);
@import url(contactos.css);
@import url(navegador.css);
@import url(mapa.css);
@import url(inicio.css);

html {
	min-height: 100%;
	position: relative;
}
body.margin {
	margin: 0;
	margin-bottom: 100px;
	margin-top: 51px;
	background-image: url('../imagenes/background/bg_inicio_11.jpg');
	background-image: no-repeat;
	background-image: fixed;
	background-image: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}
footer {
	background-color: #408ddcc7; /*background-color: #408ddc;*/ /*background-color: #555;*/
	color: white;
	padding: 15px;

	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	
	text-align: center;

}

li:hover {
	color: #fff;
	background-color: #080808;
}


.jumbotron {
	padding: 0px;
	margin-bottom: 30px;
	color: inherit;
	background-color: #03055482; /*background-color: #bfb6ff;*/
}

.jumbotron h1 {
	font-size: 44px;
	color: white;
}

.center-block, .text-center {
	float: none;
}

/*.img-thumbnail {
	width: 50%;
}*/
.margin-container {
	padding-bottom: 25px;
}

/*.marginTopSearch {
margin-top: 20px;
	margin-bottom: 10px;
}

.withSearch {
	width: 90% !important;
}*/

.div-alertas {
	position: fixed;
	right: 0;
	
	bottom: 0;
	margin: 58px 111px;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid;
	/*color: wheat;*/
	display: none;
	z-index: 10000;
}
.rojo {
	background-color: #ff3434;
}
.verde {
	background-color: #76FF6F;
}

.centrado-porcentual {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.label-campo-obligatorio {
	clear: both;
    color: #444;
    display: block;
    font-size: 9px;
    line-height: 9px;
    margin: 0;
    padding-top: 3px;
}